%h1= t(:title)

%h2{ class: ('under-zero' unless current_money > 0) }
  =t(:current_amount, amount: Money.new(current_money*100, 'EUR').format)

- data.each do |month, expenses|
  - time = month.to_time.to_i

  %h3= I18n.l(month, format: :month).capitalize

  %div{ role: :tabpanel }
    %ul.nav.nav-tabs{ role: :tablist }
      %li.active{ role: :presentation }
        %a{ href: "#expenses-#{time}", 'aria-controls' => "expenses-#{time}", role: :tab, 'data-toggle' => :tab }
          = t(:expenses)
      - tabs.each do |tab|
        %li{ role: :presentation }
          %a{ href: "##{tab}-#{time}", 'aria-controls' => "#{tab}-#{time}", role: :tab, 'data-toggle' => :tab }
            = t(:"tabs.#{tab}.tab_name")

    .tab-content
      .tab-pane.active{ id: "expenses-#{time}", role: :tabpanel }
        %table.table.table-hover.table-striped
          %thead
            %tr
              %th= t(:'table.date')
              %th= t(:'table.way')
              %th= t(:'table.reason')
              %th= t(:'table.price')
              %th= t(:'table.categories')
          %tbody
            - expenses.each do |expense|
              %tr{ class: ('success' if expense[:price] > 0) }
                %td= I18n.l(expense[:date], format: :short)
                %td= expense[:way]
                %td= expense[:reason]
                %td= Money.euro(expense[:price]*100).format
                %td= expense[:categories].join(', ')

      - tabs.each do |tab|
        .tab-pane{ id: "#{tab}-#{time}", role: :tabpanel }
          - unless statistics[month][tab].empty?
            %h4= t(:"tabs.#{tab}.tab_title", amount: Money.new(statistics[month][tab][:total] * 100 * -1, 'EUR').format)
            %table.table.table-hover.table-striped
              %thead
                %tr
                  %th= t(:'table.date')
                  %th= t(:'table.reason')
                  %th= t(:'table.price')
              %tbody
                - statistics[month][tab][:expenses].each do |expense|
                  %tr{ class: ('success' if expense[:price] > 0) }
                    %td= I18n.l(expense[:date], format: :short)
                    %td= expense[:reason]
                    %td= Money.euro(expense[:price]*100).format
