.page-header
  = link_to new_tag_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = t :'.new_tag'
  %h1= t :'.title'

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= t :'activerecord.attributes.tag.name'
        %th{colspan: 3}
    %tbody
      - @tags.each do |tag|
        %tr
          %td= tag.name
          %td.action
            = link_to t(:'scaffold.show'), tag, class: 'btn btn-info'
          %td.action
            = link_to t(:'scaffold.edit'),
                      edit_tag_path(tag),
                      class: 'btn btn-warning'
          %td.action
            = link_to t(:'scaffold.destroy'),
                      tag,
                      method: :delete,
                      data: { confirm: t(:'scaffold.are_you_sure') },
                      class: 'btn btn-danger'
