.page-header
  = link_to account_tags_path(@account), class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t :'scaffold.back'
  = link_to edit_account_tag_path(@account, @tag), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    = t :'scaffold.edit'
  = link_to chart_account_tag_path(@account, @tag), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-stats
    = t :'activerecord.attributes.tag.chart'
  %h1= t :'.title'

%h3= Tag.human_attribute_name(:name)

%h4= @tag.name

%h3= Tag.human_attribute_name(:ignored)

%h4= t(@tag.ignored?.to_s).capitalize

%h3= t :'.use'

%p= t :'.use_count', { count: @expenses_count }
