.page-header
  = link_to account_debits_path(@account), class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t :'scaffold.back'
  = link_to account_debit_path(@account, @debit), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    = t :'scaffold.show'
  %h1= t :'.title'

= render 'form'
