= simple_form_for(@expense, html: { class: 'form-horizontal', role: 'form' }, wrapper: :horizontal_form) do |f|

  = f.error_notification

  .form_inputs

    = f.input :date, wrapper: :horizontal_input_group do
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar{ 'aria-hidden' => true }
      = render partial: 'shared/datepicker_input', locals: { f: f, date_input: :date }

    = f.input :reason
    = f.input :price, as: :string
    = f.input :way

    = f.association :tags, as: :check_boxes,
                           wrapper: :horizontal_radio_and_checkboxes,
                           item_wrapper_class: 'col-sm-3'

    .form-group.text-right
      = f.submit class: 'btn btn-primary'
