= simple_form_for(@expense, html: { class: 'form-horizontal', role: 'form' }) do |f|
  - if @expense.errors.any?
    .alert.alert-danger.alert-dismissable{role: 'alert'}
      %button.close{'data-dismiss' => 'alert', type: 'button'}
        %span{'aria-hidden' => true} ×
        %span.sr-only= t :'layouts.flash.close'
      %h4
        = t :'scaffold.form.errors', count: @expense.errors.count
      %ul
        - @expense.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :date, class: 'col-sm-2 control-label'
    .col-sm-10
      = render partial: 'shared/datepicker_input', locals: { f: f, date_input: :date }
  .form-group
    = f.label :reason, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.input :reason, label: false, input_html: { class: 'form-control' }
  .form-group
    = f.label :price, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.input :price, as: :string, label: false, input_html: { class: 'form-control' }
  .form-group
    = f.label :way, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.input :way, label: false, input_html: { class: 'form-control' }
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
