.page-header
  = link_to account_path(@account), class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t :'scaffold.back'
  = link_to account_expense_path(@account, @expense.id), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    = t :'scaffold.show'
  %h1= t :'.title'

= render 'form'
