<div class="page-header">
  <%= link_to expenses_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t :'scaffold.back' %>
  <% end %>
  <%= link_to @expense, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    <%= t :'scaffold.show' %>
  <% end %>
  <h1><%= t :'.title' %></h1>
</div>

<%= render 'form' %>
