.page-header
  = link_to new_expense_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = t :'.new_expense'
  %h1= t :'.title'

.row
  .col-md-6
    %h2= t :'.current_amount', amount: currency(@current_amount)
  .col-md-6
    = render partial: 'layouts/paginate', locals: { paginate: @paginate }

- @expenses.each do |month_expenses|
  - month = month_expenses.first
  - expenses = month_expenses.last
  %h2= l(month, format: :year_and_month).capitalize
  %h3= t :'.spent', spent: currency(month_expenses.last[:total])

  .table-responsive
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th= t :'activerecord.attributes.expense.date'
          %th= t :'activerecord.attributes.expense.reason'
          %th= t :'activerecord.attributes.expense.price'
          %th= t :'activerecord.attributes.expense.way'
          %th= t :'activerecord.attributes.expense.tags'
          %th{colspan: 3}
      %tbody
        - month_expenses.last[:expenses].each do |expense|
          %tr
            %td= l expense.date
            %td= expense.reason
            %td= currency expense.price
            %td= expense.way
            %td= expense.tag_list.any? ? expense.tag_list.join(', ') : '&empty;'.html_safe
            - if expense.id
              %td.action= link_to t(:'scaffold.show'), expense, class: 'btn btn-info'
              %td.action= link_to t(:'scaffold.edit'), edit_expense_path(expense), class: 'btn btn-warning'
              %td.action= link_to t(:'scaffold.destroy'), expense, method: :delete, data: { confirm: t(:'scaffold.are_you_sure') }, class: 'btn btn-danger'
            - else
              %td.action{colspan: 3} &empty;
