<div class="page-header">
  <%= link_to new_expense_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t :'.new_expense' %>
  <% end %>
  <h1><%= t :'.title' %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t :'activerecord.attributes.expense.date' %></th>
        <th><%= t :'activerecord.attributes.expense.reason' %></th>
        <th><%= t :'activerecord.attributes.expense.price' %></th>
        <th><%= t :'activerecord.attributes.expense.way' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= l expense.date %></td>
          <td><%= expense.reason %></td>
          <td><%= expense.price %></td>
          <td><%= expense.way %></td>
          <td class="action"><%= link_to t(:'scaffold.show'), expense, class: 'btn btn-info' %></td>
          <td class="action"><%= link_to t(:'scaffold.edit'), edit_expense_path(expense), class: 'btn btn-warning' %></td>
          <td class="action"><%= link_to t(:'scaffold.destroy'), expense, method: :delete, data: { confirm: t(:'scaffold.are_you_sure') }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
