.page-header
  = link_to account_path(@account), class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t :'scaffold.back'
  = link_to edit_account_expense_path(@account, @expense), class: 'btn btn-warning' do
    %span.glyphicon.glyphicon-pencil
    = t :'scaffold.edit'
  %h1= t :'.title'

%dl.dl-horizontal
  %dt= t :'activerecord.attributes.expense.date'
  %dd= l @expense.date
  %dt= t :'activerecord.attributes.expense.reason'
  %dd= @expense.reason
  %dt= t :'activerecord.attributes.expense.price'
  %dd= number_to_currency @expense.price
  %dt= t :'activerecord.attributes.expense.tags'
  %dd= render partial: 'tags/list', locals: { account: @account, tags: @expense.tags }
