.page-header
  = link_to new_account_path, class: 'btn btn-success' do
    %span.glyphicon.glyphicon-plus
    = t :'.new_account'
  %h1= t :'.title'

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= t :'activerecord.attributes.account.name'
        %th= t :'activerecord.attributes.account.current_amount'
        %th= t :'activerecord.attributes.account.users'
        %th{colspan: 5}
    %tbody
      - @accounts.each do |account|
        %tr
          %td= account.name
          %td= number_to_currency account.current_amount
          %td= account.users.map(&:name).join(', ')
          - if can? :read, account
            %td.action
              = link_to t(:'scaffold.show'),
                        account,
                        class: 'btn btn-info'
          - if can? :update, account
            %td.action
              = link_to t(:'scaffold.edit'),
                        edit_account_path(account),
                        class: 'btn btn-warning'
          - if can? :destroy, account
            %td.action
              = link_to t(:'scaffold.destroy'),
                        account,
                        method: :delete,
                        data: { confirm: t(:'scaffold.are_you_sure') },
                        class: 'btn btn-danger'
          - if can? :read, account => Debit
            %td.action
              = link_to t(:'activerecord.attributes.account.debits'),
                        account_debits_path(account),
                        class: 'btn btn-info'
          - if can? :read, account => Tag
            %td.action
              = link_to t(:'activerecord.attributes.account.tags'),
                        account_tags_path(account),
                        class: 'btn btn-info'
