.page-header
  = link_to accounts_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t :'scaffold.back'
  = link_to edit_account_path(@account), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    = t :'scaffold.edit'
  %h1= t :'.title'

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= t :'activerecord.attributes.expense.date'
        %th= t :'activerecord.attributes.expense.reason'
        %th= t :'activerecord.attributes.expense.price'
        %th= t :'activerecord.attributes.expense.way'
        -# %th= t :'activerecord.attributes.expense.tags'
        -# %th{colspan: 3}
    %tbody
      - @account.expenses.each do |expense|
        %tr{ class: ('success' if expense.price > 0) }
          %td= l expense.date
          %td= expense.reason
          %td= currency expense.price
          %td= expense.way
          -# %td= render partial: 'tags/list', locals: { tags: expense.tags }
          -# - if expense.id
          -#   %td.action= link_to t(:'scaffold.show'), expense, class: 'btn btn-info'
          -#   %td.action= link_to t(:'scaffold.edit'), edit_expense_path(expense), class: 'btn btn-warning'
          -#   %td.action= link_to t(:'scaffold.destroy'), expense, method: :delete, data: { confirm: t(:'scaffold.are_you_sure') }, class: 'btn btn-danger'
          -# - else
          -#   %td.action{colspan: 3} &empty;