.page-header
  = link_to accounts_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t :'scaffold.back'
  - if can? :read, @account => Tag
    = link_to account_tags_path(@account.id), class: 'btn btn-info' do
      %span.glyphicon.glyphicon-tags
      = t :'activerecord.attributes.account.tags'
  - if can? :read, @account => Debit
    = link_to account_debits_path(@account.id), class: 'btn btn-info' do
      %span.glyphicon.glyphicon-download-alt
      = t :'activerecord.attributes.account.debits'
  - if can? :update, @account
    = link_to edit_account_path(@account.id), class: 'btn btn-warning' do
      %span.glyphicon.glyphicon-pencil
      = t :'scaffold.edit'
  - if can? :create, @account => Expense
    = link_to new_account_expense_path(@account.id), class: 'btn btn-success' do
      %span.glyphicon.glyphicon-plus
      = t :'.new_expense'
  %h1= @account.name

.row
  .col-md-6
    %h2= t :'.current_amount', amount: number_to_currency(@account.current_amount)
  .col-md-6
    = render partial: 'layouts/paginate', locals: { paginate: @paginate }

- @expenses.reverse_each do |month, h|
  %h2= l(month, format: :year_and_month).capitalize
  %h3= t :'.spent', spent: number_to_currency(h[:total] * -1)

  .table-responsive
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th= t :'activerecord.attributes.expense.date'
          %th= t :'activerecord.attributes.expense.reason'
          %th= t :'activerecord.attributes.expense.price'
          %th= t :'activerecord.attributes.expense.way'
          %th= t :'activerecord.attributes.expense.tags'
          %th{colspan: 3}
      %tbody
        - h[:expenses].each do |expense|
          %tr{ class: ('success' if expense.price > 0) }
            %td= l expense.date
            %td= expense.reason
            %td= number_to_currency expense.price
            %td= expense.way
            %td= render partial: 'tags/list', locals: { account_id: @account.id, tags: expense.tags }
            - if expense.id
              - if can? :read, expense
                %td.action
                  = link_to t(:'scaffold.show'),
                            account_expense_path(@account.id, expense.id),
                            class: 'btn btn-info'
              - if can? :update, expense
                %td.action
                  = link_to t(:'scaffold.edit'),
                            edit_account_expense_path(@account.id, expense),
                            class: 'btn btn-warning'
              - if can? :destroy, expense
                %td.action
                  = link_to t(:'scaffold.destroy'),
                            account_expense_path(@account.id, expense.id),
                            method: :delete,
                            data: { confirm: t(:'scaffold.are_you_sure') },
                            class: 'btn btn-danger'
            - else
              %td.action{colspan: 3} &empty;
